<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="23/08/2024  14.43" createdAt="22/08/2024"
    notes="we have two bags are full, one with the plastic and the other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="24/08/2024  10.25" createdAt="22/08/2024"
    notes="we have two bags are full"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="23/08/2024  23.59" createdAt="22/08/2024" value="$ 30,00"></app-pickup-call-card>

</ion-content>
